$rating-txt-color: #a3a3a3;
$overall-bg-color: rgb(212, 212, 212);

.rating {
  align-items: center;
  display: flex;
}

.lg {
  & .stars {
    font-size: 1.5rem;
  }

  & .count {
    font-size: 1.1rem;
  }
}

.stars {
  color: $overall-bg-color;
  display: inline-block;
  font-size: 1.33rem;
  margin-right: 0.5rem;
  position: relative;
}

.overall {
  color: #ffc700;
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.count {
  color: $rating-txt-color;
  font-size: 0.9rem;
  word-spacing: -1px;
}
