$link-color: #fff;
$txt-color: #3f3f46;

// $link-bg: linear-gradient(to top right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1));
$link-hover-bg: rgba(0, 0, 0, 0.15);

$double-right-chevron-size: 2rem;

$modal-bg-color: rgba(0, 0, 0, 0.5);

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-size: 16px;

  @media screen and (max-width: 1100px) {
    font-size: 14px;
  }

  @media screen and (max-width: 1000px) {
    font-size: 13px;
  }

  @media screen and (max-width: 900px) {
    font-size: 12px;
  }
}

body {
  max-width: 1500px;
  margin: auto;
  position: relative;
  width: 100%;
  color: $txt-color;
}

ul {
  list-style-type: none;
}

a {
  color: $link-color;
  text-decoration: none;
}

button {
  appearance: none;
  background: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
}

select:focus {
  outline: none;
}

.section {
  padding: 11rem 0;
  position: relative;
  top: 1rem;

  @media screen and (max-width: 900px) {
    padding: 8rem 0;
  }

  // @media screen and (max-width: 700px) {
  //   padding: 8rem 0;
  // }
}

.container {
  position: relative;
  padding: 0 3.5%;
}

.link {
  border-radius: 1.5rem;
  font-weight: 500;
  letter-spacing: 1px;

  &:hover {
    background-color: $link-hover-bg;
  }
}

.modal {
  background-color: $modal-bg-color;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 15;
}

.double-chevron-right {
  opacity: 1;
  animation: fadeInOut 0.75s 0s infinite;
  & > svg {
    display: block;
    height: $double-right-chevron-size;
    width: $double-right-chevron-size;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateX(0.5rem);
  }

  50% {
    opacity: 1;
  }

  99.99999999999999% {
    opacity: 0;
    transform: translateX(1.5rem);
  }
}
